<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzumetal.springboot.mybatis.mapper.BookMapper">

    <resultMap id="BookResultMap" type="com.lzumetal.springboot.grpc.server.pojo.Book">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="book_name" jdbcType="VARCHAR" property="bookName" />
        <result column="author" jdbcType="VARCHAR" property="author" />
        <result column="price" jdbcType="DECIMAL" property="price" />
    </resultMap>

    <select id="selectById" parameterType="Long" resultType="com.lzumetal.springboot.grpc.server.pojo.Book">
        SELECT id, book_name, author, price
        FROM book
        WHERE id = #{id}
    </select>

</mapper>