<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddcx.springboot.AreaMapper">
  <resultMap id="BaseResultMap" type="com.ddcx.springboot.Area">
    <result column="FCODE" jdbcType="VARCHAR" property="fcode" />
    <result column="FPCODE" jdbcType="VARCHAR" property="fpcode" />
    <result column="FNAME" jdbcType="VARCHAR" property="fname" />
    <result column="FFULLNAME" jdbcType="VARCHAR" property="ffullname" />
    <result column="FLEVEL" jdbcType="TINYINT" property="flevel" />
  </resultMap>
  <insert id="insert" parameterType="com.ddcx.springboot.Area">
    insert into t_crm_area (FCODE, FPCODE, FNAME, 
      FFULLNAME, FLEVEL)
    values (#{fcode,jdbcType=VARCHAR}, #{fpcode,jdbcType=VARCHAR}, #{fname,jdbcType=VARCHAR}, 
      #{ffullname,jdbcType=VARCHAR}, #{flevel,jdbcType=TINYINT})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select FCODE, FPCODE, FNAME, FFULLNAME, FLEVEL
    from t_crm_area
  </select>
  <resultMap id="BaseResultMap" type="com.ddcx.springboot.Area">
    <result column="FCODE" jdbcType="VARCHAR" property="fcode" />
    <result column="FPCODE" jdbcType="VARCHAR" property="fpcode" />
    <result column="FNAME" jdbcType="VARCHAR" property="fname" />
    <result column="FFULLNAME" jdbcType="VARCHAR" property="ffullname" />
    <result column="FLEVEL" jdbcType="TINYINT" property="flevel" />
  </resultMap>
  <insert id="insert" parameterType="com.ddcx.springboot.Area">
    insert into t_crm_area (FCODE, FPCODE, FNAME, 
      FFULLNAME, FLEVEL)
    values (#{fcode,jdbcType=VARCHAR}, #{fpcode,jdbcType=VARCHAR}, #{fname,jdbcType=VARCHAR}, 
      #{ffullname,jdbcType=VARCHAR}, #{flevel,jdbcType=TINYINT})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select FCODE, FPCODE, FNAME, FFULLNAME, FLEVEL
    from t_crm_area
  </select>
</mapper>