<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddcx.springboot.Guokao2017Mapper">
  <resultMap id="BaseResultMap" type="com.ddcx.springboot.Guokao2017">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="department_code" jdbcType="INTEGER" property="departmentCode" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
    <result column="department_detail" jdbcType="VARCHAR" property="departmentDetail" />
    <result column="organization_type" jdbcType="VARCHAR" property="organizationType" />
    <result column="organization_level" jdbcType="VARCHAR" property="organizationLevel" />
    <result column="job_type" jdbcType="VARCHAR" property="jobType" />
    <result column="job_name" jdbcType="VARCHAR" property="jobName" />
    <result column="job_describe" jdbcType="VARCHAR" property="jobDescribe" />
    <result column="job_code" jdbcType="VARCHAR" property="jobCode" />
    <result column="exam_type" jdbcType="VARCHAR" property="examType" />
    <result column="recieve_num" jdbcType="INTEGER" property="recieveNum" />
    <result column="major" jdbcType="VARCHAR" property="major" />
    <result column="education_type" jdbcType="VARCHAR" property="educationType" />
    <result column="education_level" jdbcType="VARCHAR" property="educationLevel" />
    <result column="politics_status" jdbcType="VARCHAR" property="politicsStatus" />
    <result column="basic_work_time" jdbcType="VARCHAR" property="basicWorkTime" />
    <result column="three_supports_one_assistance" jdbcType="VARCHAR" property="threeSupportsOneAssistance" />
    <result column="western_volunteer" jdbcType="VARCHAR" property="westernVolunteer" />
    <result column="university_student_village_officer" jdbcType="VARCHAR" property="universityStudentVillageOfficer" />
    <result column="specially_contracted_scheme_teacher" jdbcType="VARCHAR" property="speciallyContractedSchemeTeacher" />
    <result column="no_limit" jdbcType="VARCHAR" property="noLimit" />
    <result column="major_test" jdbcType="VARCHAR" property="majorTest" />
    <result column="interview_ratio" jdbcType="VARCHAR" property="interviewRatio" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="job_location" jdbcType="VARCHAR" property="jobLocation" />
    <result column="web_site" jdbcType="VARCHAR" property="webSite" />
    <result column="phone1" jdbcType="VARCHAR" property="phone1" />
    <result column="phone2" jdbcType="VARCHAR" property="phone2" />
    <result column="phone3" jdbcType="VARCHAR" property="phone3" />
    <result column="department_property" jdbcType="TINYINT" property="departmentProperty" />
  </resultMap>
  <insert id="insert" parameterType="com.ddcx.springboot.Guokao2017">
    insert into guokao_2017 (id, department_code, department_name, 
      department_detail, organization_type, organization_level, 
      job_type, job_name, job_describe, 
      job_code, exam_type, recieve_num, 
      major, education_type, education_level, 
      politics_status, basic_work_time, three_supports_one_assistance, 
      western_volunteer, university_student_village_officer, 
      specially_contracted_scheme_teacher, no_limit, 
      major_test, interview_ratio, note, 
      job_location, web_site, phone1, 
      phone2, phone3, department_property
      )
    values (#{id,jdbcType=INTEGER}, #{departmentCode,jdbcType=INTEGER}, #{departmentName,jdbcType=VARCHAR}, 
      #{departmentDetail,jdbcType=VARCHAR}, #{organizationType,jdbcType=VARCHAR}, #{organizationLevel,jdbcType=VARCHAR}, 
      #{jobType,jdbcType=VARCHAR}, #{jobName,jdbcType=VARCHAR}, #{jobDescribe,jdbcType=VARCHAR}, 
      #{jobCode,jdbcType=VARCHAR}, #{examType,jdbcType=VARCHAR}, #{recieveNum,jdbcType=INTEGER}, 
      #{major,jdbcType=VARCHAR}, #{educationType,jdbcType=VARCHAR}, #{educationLevel,jdbcType=VARCHAR}, 
      #{politicsStatus,jdbcType=VARCHAR}, #{basicWorkTime,jdbcType=VARCHAR}, #{threeSupportsOneAssistance,jdbcType=VARCHAR}, 
      #{westernVolunteer,jdbcType=VARCHAR}, #{universityStudentVillageOfficer,jdbcType=VARCHAR}, 
      #{speciallyContractedSchemeTeacher,jdbcType=VARCHAR}, #{noLimit,jdbcType=VARCHAR}, 
      #{majorTest,jdbcType=VARCHAR}, #{interviewRatio,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, 
      #{jobLocation,jdbcType=VARCHAR}, #{webSite,jdbcType=VARCHAR}, #{phone1,jdbcType=VARCHAR}, 
      #{phone2,jdbcType=VARCHAR}, #{phone3,jdbcType=VARCHAR}, #{departmentProperty,jdbcType=TINYINT}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, department_code, department_name, department_detail, organization_type, 
    organization_level, job_type, job_name, job_describe, job_code, exam_type, recieve_num, 
    major, education_type, education_level, politics_status, basic_work_time, three_supports_one_assistance, 
    western_volunteer, university_student_village_officer, specially_contracted_scheme_teacher, 
    no_limit, major_test, interview_ratio, note, job_location, web_site, phone1, phone2, 
    phone3, department_property
    from guokao_2017
  </select>
</mapper>