<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--定义日志文件的存储目录（使用绝对路径） -->
    <property name="LOG_HOME" value="D:\log\delaytask"/>
    <!-- 定义日志格式：
            %d：表示日期，
            %thread：线程名，
            %-5level：级别从左显示5个字符宽度,
            %logger{25}：日志名，即LoggerFactory.getClass()中传的参数名。一般为类名，也可以指定name。
            %msg：日志消息，
            %n：换行符-->
    <property name="LOG_FORMAT" value="[%-5level] %d{yyyy-MM-dd HH:mm:ss SSS} [%thread] %logger{25}.%method - %msg%n"/>


    <!-- 控制台输出 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss SSS} [%thread] %class.%method - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- info日志输出 -->
    <appender name="info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_HOME}/info.log.%d{yyyy-MM-dd}</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>${LOG_FORMAT}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter"><!--输出INFO级别以上的日志-->
            <level>INFO</level>
        </filter>
    </appender>

    <!-- root日志 -->
    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="info"/>
    </root>

</configuration>