<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_FORMAT" value="[%-5level] %d{yyyy-MM-dd HH:mm:SSS} [%thread] %logger{25} : %msg%n"/>

    <!-- 控制台输出 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>控制台appender|[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %class.%method : %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <!-- 业务日志输出 -->
    <appender name="myAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>自定义Appender|[%-5level] %d{yyyy-MM-dd HH:mm:SSS} [%thread] %logger{25} : %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <logger name="com.lzumetal" level="ERROR">
        <appender-ref ref="myAppender"/>
    </logger>

    <logger name="com.lzumetal.logback.LogBackDemo" level="INFO" additivity="true">
        <appender-ref ref="myAppender"/>
    </logger>

    <!-- 系统日志级别 -->
    <root level="WARN">
        <appender-ref ref="console"/>
    </root>

</configuration>