<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzumetal.springboot.demodatabase.mapper.TestTimeMapper">

  <resultMap id="BaseResultMap" type="com.lzumetal.springboot.demodatabase.entity.TestTime">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="create_timestamp" jdbcType="TIMESTAMP" property="createTimestamp" />
    <result column="create_datetime" jdbcType="TIMESTAMP" property="createDateTime" />
  </resultMap>

  <select id="getById" resultMap="BaseResultMap">
    select id, create_timestamp, create_datetime
    from t_test_time
    WHERE id = #{id}
  </select>


  <insert id="insert" parameterType="com.lzumetal.springboot.demodatabase.entity.TestTime">
    insert into t_test_time (create_timestamp,  create_datetime)
    values (#{createTimestamp,jdbcType=TIMESTAMP}, #{createDateTime,jdbcType=TIMESTAMP})
  </insert>



</mapper>